.workingimg{
    padding-bottom: 5rem;  
    padding-top: -2rem;
    height: 30rem;
    width: 60rem;
    object-fit: cover;
    /* overflow: hidden; */
}
.working{
    font-size:3.7rem;
    color: rgb(248, 39, 39);
}