/* * {
	box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-direction: row;
} */


h1 {
	font-weight: bold;
	margin: 30px;
    color: #5b00ed;
}


a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #3900f6;
	background-color: #5b00ed;
    margin: 50px;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

form {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 50%;
	text-align: center;
    border: 2px solid #3900f6;
    border-radius: 20px;
    
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 60%;
    border-radius: 20px;
}


.form-container {
	/* position: absolute; */
	top: 100px;
	height: 100%;
    position: relative;
}

.sign-in-container {
    top: 150px;
	left: 300px;
    right: 0;
    height: 50%;
	width: 50%;
	
}

